body {
  font-family: Arial;
  padding: 20px;
}

#produtos,
#carrinho {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  animation: aparecer 1s;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}